<header>
    <nav class="navbar">
        <div class="logo">My project<span>JS</span></div>
        <ul class="nav-links">
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Proyectos</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>
